<form action="/bandwidth/update" method="POST" id="dataTableForm">
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover table-resizable resizable resizable-table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Month</th>
          <th scope="col">Project Name</th>
          <th scope="col">Status</th>
          <th scope="col">Facility</th>
          <th scope="col">Tower</th>
          <th scope="col">BU</th>
          <th scope="col">Subnet</th>
          <th scope="col">PAT IP</th>
          <th scope="col">PIDB</th>
          <th scope="col">GDCN ID</th>
          <th scope="col">Partition Name</th>
          <th scope="col">ISP</th>
          <th scope="col">Internet Bandwidth (in MB)</th>
          <th scope="col">WBSe</th>
          <th scope="col">RFC</th>
          <th scope="col">Implementation Date</th>
          <th scope="col">AMT POC</th>
          <th scope="col">BCP Bandwidth</th>
          <th scope="col">Comments</th>
        </tr>
      </thead>
      <tbody id="tableBody">
        <% if(locationData && locationData.length > 0) { %>
          <% locationData.forEach((item, index) => { %>
            <tr>
              <td>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" name="selectedRows[]" id="checkbox<%= index + 2 %>" value="<%= index + 2 %>">
                  <%= index + 2 %>
                </div>
              </td>
              <td>
                <select name="month[]" aria-label="month">
                  <% const months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']; %>
                  <% months.forEach(month => { %>
                    <option value="<%= month %>" <% if(month === item.Month) { %> selected <% } %>><%= month %></option>
                  <% }); %>
                </select>
              </td>
              <td>
                <input type="text" name="projectName[]" placeholder="Project Name" style="width:300px" aria-label="projectName" value="<%= item['Project Name'] %>">
              </td>
              <td>
                <select name="status[]" aria-label="status">
                  <option value="Live" <% if(item.Status === 'Live') { %> selected <% } %>>Live</option>
                  <option value="Decommissioned" <% if(item.Status === 'Decommissioned') { %> selected <% } %>>Decommissioned</option>
                </select>
              </td>
              <td>
                <input type="text" name="facility[]" placeholder="Facility" style="width:100px;" aria-label="facility" value="<%= item.Facility %>">
              </td>
              <td>
                <input type="text" name="tower[]" placeholder="Tower" style="width:40px" aria-label="tower" value="<%= item.Tower %>">
              </td>
              <td>
                <input type="text" name="bu[]" placeholder="BU" style="width:100px" aria-label="bu" value="<%= item.BU %>">
              </td>
              <td>
                <input type="text" name="subnet[]" placeholder="Subnet" style="width:150px" aria-label="subnet" value="<%= item.Subnet %>">
              </td>
              <td>
                <input type="text" name="pat[]" placeholder="PAT IP" style="width:150px" aria-label="pat" value="<%= item['PAT IP'] %>">
              </td>
              <td>
                <input type="text" name="pidb[]" placeholder="PIDB" style="width:100px" aria-label="pidb" value="<%= item.PIDB %>">
              </td>
              <td>
                <input type="text" name="gdcn[]" placeholder="GDCN ID" style="width:100px" aria-label="gdcn" value="<%= item.GDCN %>">
              </td>
              <td>
                <input type="text" name="partition[]" placeholder="Partition Name" style="width:300px" aria-label="partition" value="<%= item['Partition Name'] %>">
              </td>
              <td>
                <input type="text" name="isp[]" placeholder="ISP" style="width:100px" aria-label="isp" value="<%= item.ISP %>">
              </td>
              <td>
                <input type="text" name="bw[]" placeholder="Internet Bandwidth (in MB)" style="width:90px" aria-label="bw" value="<%= item['Internet Bandwidth (in MB)'] %>">
              </td>
              <td>
                <input type="text" name="wbse[]" placeholder="WBSe" style="width:100px" aria-label="wbse" value="<%= item.WBSe %>">
              </td>
              <td>
                <input type="text" name="rfc[]" placeholder="RFC" style="width:100px" aria-label="rfc" value="<%= item.RFC %>">
              </td>
              <td>
                <input type="text" name="implementationDate[]" placeholder="Implementation Date" style="width:100px" aria-label="implementationDate" value="<%= (typeof item['Implementation Date']) == 'number' ? (new Date(item['Implementation Date']).toLocaleDateString()) : (String(item['Implementation Date'])) %>">
				</td>
              <td>
                <input type="text" name="amt[]" placeholder="AMT POC" aria-label="amt" value="<%= item['AMT POC'] %>">
              </td>
              <td>
				  <select name="bcp[]" aria-label="bcp">
					  <option value="No"
						  <% if(item['BCP'] && item['BCP'].toString().toLowerCase() === 'no') { %> selected <% } %>>No</option>
					  <option value="Yes"
						  <% if(item['BCP'] && item['BCP'].toString().toLowerCase() === 'yes') { %> selected <% } %>>Yes</option>
				  </select>
			  </td>
              <td>
                <textarea name="comment[]" rows="2" cols="80"><%= item.Comments %></textarea>
              </td>
            </tr>
            
          <% }); %>
        <% } else { %>
          <tr>
            <td colspan="19">No data available for selected location</td>
          </tr>
        <% } %>
      </tbody>
      <tfoot>
        <tr class="bg-secondary bg-gradient fixed-bottom">
          <td style="width:20vw;">
            <div class="center1">
              <button type="button" class="btn btn-success btn-copy" style="width: 90%; font-size: 12px; padding: 2px 0; position: relative;"><i class="bi bi-clipboard"></i>&nbsp;Copy</button>
            </div>
          </td>
          
          <td style="width:80vw;">
            <div class="center1">
              <button type="submit" class="btn btn-primary" style="width: 80%; font-size: 12px; padding: 2px 0; position: relative;">Submit Changes</button>
            </div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</form>